::-webkit-scrollbar {
    width: 7px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 188, 126);
    border-radius: 3rem;
}
.head-section {
    border-bottom: 3px solid #001A50;
    height: 100px;
    position: fixed;
    left: 0px;
    top: 0; 
    width: 100%;
    background-color: white; 
    z-index: 1; 
    text-align: center;
    box-shadow: 12px;
}
a{
    text-decoration: none;
}
.home-page{
    position: absolute;
    top: -40px;
    left: 20px;
    color: #00bc7e;
    font-family: 'Inknut Antiqua';
    font-size: 40px;
}
.head-peages p {
    display: inline-block;
    margin-left: 30px;
    font-size: 25px;
    margin-top: 25px;
    font-family: 'Inknut Antiqua';
    color: #001A50;
}
.contact-section{
    position: absolute;
    top: 20px;
    right: 100px;
}
.contact-button{
    width: 230px;
    height: 60px;
    border-radius: 100px;
    background: #00bc7e;
    color: #FFF;
    font-family: 'Jacques Francois';
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    border: 0px;
    cursor: pointer;
}
.shoping-cart{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: #00bc7e;
    border: 0px;
    margin-left: 20px;
    margin-right: -60px;
    cursor: pointer;
}
.fa-shopping-cart{
    color: white;
    font-size: 30px;
}
.circle-container {
    position: absolute;
    width: 320px; 
    overflow: hidden;
    right: 0px;
    top: 0px;
}
.right-circle {
    width: 800px;
    height: 740px;
    border-radius: 50%;
    background: #00bc7e;

}
.food-image{
    position: absolute;
    top: 130px;
    right: 30px;
}
.contact-mail-sextion{
    margin-left: -20px;
    width: 270px;
    height: 90px;
    background-color: #00bc7e;
    text-align: center;
    border-radius: 90px;
    visibility: hidden;
}

.contact-mail-sextion p{
    color: #FFF;
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.newElement{
    margin-left: -20px;
    width: 270px;
    height: 90px;
    background-color: #00bc7e;
    text-align: center;
    border-radius: 90px;
    visibility:visible;
}
.my-example button{
    margin-top: 100px;
    width: 30px;
    height: 30px;
}
.text-section{
    position: absolute;
    top: 170px;
    left: 70px;
}
.welcome-section{
    color: #59994F;
    font-family: 'Inknut Antiqua';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.food-colection{
    color: #001A50;
    font-family: 'Inknut Antiqua';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -30px;
}
.text-colection{
    color: #001A50;
    font-family: 'Inknut Antiqua';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    margin-top: -30px;
}
.order-button{
    width: 278px;
    height: 63px;
    border-radius: 100px;
    background: #59994F;
    border: 0px;
    text-align: center;
    cursor: pointer;
}
.order-text{
    color: #FFF;
    font-family: 'Inknut Antiqua';
    margin-top: -25px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-section{
    position: absolute;
    top: 750px;
    text-align: center;
    margin-bottom: 20px;
}
#about-section1{
    margin-top: 670px;
}
#team-section1{
    padding-top: 670px;
}
.team-section{
    top: 1700px;
    text-align: center;
    margin-bottom: 20px;
    left: 50%;
    margin-top: 300px;
}
#about-info{
    color: #001A50;
    font-family: 'Inknut Antiqua';
    font-size: 48px;    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 1s;
}
#team-info{
    color: #001A50;
    font-family: 'Inknut Antiqua';
    font-size: 48px;    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 1s;
}
.about-history{
    color: #000;
    text-align: center;
    font-family: 'Inknut Antiqua';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.team-history{
    color: #000;
    text-align: center;
    font-family: 'Inknut Antiqua';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.img-left-section{
    width: 500px;
    height: 500px;
    background: url(img10.jpg) lightgray 50% / cover no-repeat;
    position: absolute;
    left: 140px;
}
.img-right-section1{
    width: 225px;
    height: 225px;
    background: url(img12.jpg), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    right: 550px;
    top: 300px;
}
.img-right-section2{
    width: 225px;
    height: 225px;
    background: url(img4.jpg), lightgray 50%;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    position: absolute;
    right: 550px;
    top: 577px;
}
.img-right-section3{
    width: 225px;
    height: 225px;
    background: url(img1.jpg), lightgray 50%;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    position: absolute;
    right: 200px;
    top: 300px;
}
.img-right-section4{
    width: 225px;
    height: 225px;
    background: url(img5.jpg), lightgray 50%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    position: absolute;
    right: 200px;
    top: 577px;
}
.staff-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

}
.first-staff{
    width: 250px;
    height: 250px;
    border: 1px solid #59994F;
    background: #FFF;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: 0.3s;
}
.second-staff{
    width: 250px;
    height: 250px;
    border: 1px solid #59994F;
    background: #FFF;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    text-align: center;
    transition: 0.3s;
}
.third-staff{
    width: 250px;
    height: 250px;
    border: 1px solid #59994F;
    background: #FFF;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    text-align: center;
    transition: 0.3s;
}
.fourth-staff{
    width: 250px;
    height: 250px;
    border: 1px solid #59994F;
    background: #FFF;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    transition: 0.3s;
}
.squarle-circle1{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: url(chef4.png), lightgray 50%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 20px;
}
.chef-text{
    color: #000;
    font-family: 'Inknut Antiqua';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}
.chef-text2{
    color: #000;
    font-family: 'Inknut Antiqua';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -30px;
}
.squarle-circle2{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: url(chef3.png), lightgray 50%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 20px;
}
.squarle-circle3{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: url(chef2.png), lightgray 50%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 20px;
}
.squarle-circle4{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: url(chef1.png), lightgray 50%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 20px;
}
.first-staff:hover, .second-staff:hover, .third-staff:hover, .fourth-staff:hover{
    margin-bottom: 1.5rem;
    transition: 0.3s;
}